:root {  /* declarar variavel global*/

    --cor-cabecalho: #0B5395;
    --cor-borda-pagamentos: solid black;
    --cor-fundo-borda: rgba(133, 177, 255, 0.3);
    --cor-hover: rgba(133, 177, 255, 0.7);
    --cor-texto-horario: rgba(133, 177, 255, 0.3);
    --cor-rodape: #0B5395;
    --cor-letra-cbc:white;
    --cor-sombras:black;
    --borda-horarios:black;
    --cor-letra-rodape:white;
}

* {
    box-sizing: border-box; /* propriedade que faz com que altura e largura totais de elemento incluam (margin) e (padding)*/
    margin: 0; /*sem borda*/
    padding: 0; /*espaco entre elemento e borda*/
}

body {

    background-image: url(./Imagens/fotos/Ceuop1.png); /* caminho para colocar minha imagem*/
    background-repeat: no-repeat; /* Impede a repetição da imagem*/
    background-size: cover;  /* Garante que a imagem cubra todo o espaço*/
    background-attachment: fixed; /* manter imagem fixa*/
}

.voadora {

    display: flex;
    width: 100vw; /*relativo ao tamanho da tela do usuario, toda tela*/
    align-items: center; /* alinhar os itens no centro*/


}

.inicio {
    width: 14%; /* define largura do elemento*/
}

.fundocabecalho {
     display: flex; /* container flexivel*/
     background-color: var(--cor-cabecalho); /* cor do cabecalho*/
     height: 135px; /* tamanho do cabecalho*/
     width: 86%; /* define largura do elemento*/
     font-size: 50px;
     justify-content:center; /* alinhar no centro*/
     align-items: center; /* alinhar no centro*/
     color: var(--cor-letra-cbc); /* cor da letra*/
     margin-right: 50px; /*margem direita*/
     text-shadow: 3px 3px 3px var(--cor-sombras); /* adicionar sombras nas palavras"textos"*/
   
    


    
}

.imagens {
    border: 2px var(--cor-borda-pagamentos); /* borda das imagens*/
    width: 150px; /* largura*/
    height: 150px; /* altura*/
    border-radius: 15%; /* borda redonda*/
    background-color: var(--cor-fundo-borda);/* cor de fundo das imagens de pagamentos*/
    display: flex;  /* deixa flexivel para alinhar (ajustar)*/
    align-items: center; /* alinhar imagem no meio de "quadrado"*/
    justify-content: center; /*alinhar imagem no meio de "quadrado"*/


}

.imagens:hover {
    background-color: var(--cor-hover); /* quando passar o dedo mudar de cor*/

}

.formasdepagamentos {

    width: 80%; /* ocupacao de 80% da tela*/

}

.avo {
    display: grid; /* permite organizar elementos filhos em linhas ou colunas, facilita a criacao modelos*/
    grid-template-columns: 150px 150px; /* usada para definirnumero e tamanho das colunas no layout de grade*/
    grid-template-rows: 150px 150px; /* define altura das linhas da grade(layout)*/
    gap: 50px;  /* definir espacos (bordas)* no container*/

}

.escritapagamentos {

    font-size: 30px; /* tam. da letra*/
    display: flex;
    justify-content: left; /* justificar a esquerda*/

}


.organizacaosaibamais {
    display: flex; /* ficar flexivel*/
    flex-direction: row; /* alinhar da esquerda para a direita*/
    justify-content: space-evenly;/* deixar tudo do mesmo tamanho*/
    align-items: center;
}

.textohorario{
    border:2px solid  var(--borda-horarios); /* cor e tamanho da borda*/
    border-radius:15% ;/* borda arredondada*/
    background-color:var(--cor-texto-horario) ; /* cor de fundo*/
}

.textohorario p { /* o "P" é para personalizar as escritas*/
    display: flex;
    line-height: 55px; /* espacamento das linhas*/
    font-size: 30px;
    border-radius:15% ;/* borda arredondada*/
    margin: 20px; /* margem*/
}

.forma_de_pagamento{
    display: flex;
    flex-direction: column; /* arrumar em colunas*/
    align-items: center;/* alinhar itens centro*/
    gap: 30px; /* espaco entre itens*/
}

.footer{
   color: var(--cor-letra-rodape);
   background-color: var(--cor-rodape); /* fundo rodape*/
   height: 30px; /* define altura*/
   font-size: 20px;
   text-align: center; /* alinhar texto no centro*/
   position: fixed; /* ficar fixado para nao se mexer qnd mexer pagina*/
   bottom: 0; /*gruda na parte de baixo*/
   width: 100vw; /* viewport width, largura da janela de visualizacao, ex: 50% ira ocupar metade da tela*/
}

@media (max-width: 600px){
    .organizacaosaibamais{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;
    }

    p{
        display: flex;
        flex-wrap: wrap;
        font-size: 25px;
        margin: 8px;
    }

    .footer{
        position: relative;
    }

    .textohorario{
        border-radius: 20px;
    }

}